@charset "UTF-8";
/* 사용하지 않음 */
.search_container{
	width:70%;
}
.select2-container .select2-selection--single{
    height:34px !important;
    display: inline;
}
.select2-container--default .select2-selection--single{
	border: 1px solid #ccc !important; 
     border-radius: 0px !important; 
}
